<div class="monster-card">
  {{validated-input label="Name: " propertyName="name" changeset=changeset}}
  {{validated-input label="Level: " propertyName="level" changeset=changeset}}

  <div class="edit-level-message">
    {{#liquid-if isHighLevel class="high-level"}}
      Wow!  Such a high level!
    {{else}}
      Work harder, level up.
    {{/liquid-if}}
  </div>
  <img src={{changeset.imageUrl}} />

  {{validated-input label="Image Source: " propertyName="imageUrl" changeset=changeset}}
  {{validated-input label="Price (in dollars): " propertyName="price" changeset=changeset}}
</div>

<button {{action 'save'}}>Save</button>
<button {{action 'rollback'}}>Cancel</button>
