<div class="monster-card">
  <div class="edit-name">Name: {{one-way-input value=changeset.name update=(action (mut changeset.name))}}</div>
  <div class="edit-level">Level: {{one-way-input value=changeset.level update=(action (mut changeset.level))}}</div>
  <div class="edit-level-message">
    {{#liquid-if isHighLevel class="high-level"}}
      Wow!  Such a high level!
    {{else}}
      Work harder, level up.
    {{/liquid-if}}
  </div>
  <img src={{changeset.imageUrl}} />
  <br>
  Image Source: {{one-way-input value=changeset.imageUrl update=(action (mut changeset.imageUrl))}}
  <br>
  Price (in dollars): {{one-way-input value=changeset.price update=(action (mut changeset.price))}}
</div>
<ul>
  {{#each changeset.errors as |errorSet|}}
    {{#each errorSet.validation as |error|}}
      <li>{{error}}</li>
    {{/each}}
  {{/each}}
</ul>
<button {{action 'save'}}>Save</button>
<button {{action 'rollback'}}>Cancel</button>
