<div class="monster-card">
  <span class="name">{{model.name}}</span>
  <span class="pull-right">Level: {{model.level}}</span>

  <img src={{model.imageUrl}} />
  <br>
  ${{model.price}}
</div>
<button {{action 'destroyCard'}}>Destroy Monster</button>
