<div class="monster-card">
  {{#liquid-bind model}}
  <span class="name">{{model.name}}</span>
  <span class="pull-right">Level: {{model.level}}</span>
  <img src={{model.imageUrl}} />
  ${{model.price}}
  {{/liquid-bind}}
</div>
<button {{action 'destroyCard'}}>Destroy Monster</button>{{#link-to 'monsters.monster.edit' model tagName="button"}}Edit Monster{{/link-to}}
